@use '@styles/variables' as *;
@use '@mixins' as *; 


.box-movies {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.box-movies-list {
display: flex;
flex-wrap: wrap;
gap: 1.5rem;
@include flex-center

}
